footer {
  background-color: whitesmoke;
  padding: 1rem 2rem;
}

.side_icon {
  /* margin-right: 1rem; */
  /* color: var(--light-primary-color); */
  /* background-color: var(--light-primary-color); */
  padding: 0.5rem 0.7rem;
  border-radius: 100%;
}

.footer_img {
  height: 6.25rem;
  width: 6.25rem;
  object-fit: cover;
}
