/* .item {
  border-bottom: 1px solid var(--grey-color);
}

.items_header {
  border-bottom: 1px solid var(--grey-color);
  padding: 1rem 0;
}

.item_card {
  background-color: var(--light-grey-color);
  height: 10rem;
  width: 8.75rem;
  margin-right: 1rem;
}

.item_img {
  width: 8.75rem;
  margin-top: 0.5rem;
}

.item_content {
  margin-top: 0.5rem;
} */
